@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background: #e4e4e4;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* intro */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("img/intro.jpg") center no-repeat;
  background-size: cover;
}

.intro__title {
  color: #fff;
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 60px auto;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__suptitle {
  margin: bottom 1px;
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
}

/* Header */
.header {
  width: 100%;
  padding: 30px 0px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/* Nav */
.nav {
  text-transform: uppercase;
  font-size: 14px;
}

.nav__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2 linear;
  transition: opacity 0.2 linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link:hover::after,
.nav__link.active::after {
  opacity: 1;
}

.nav__link.active {
  color: #fce38a;
}

/*Button*/
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: background 0.1s linear, color 0.1s linear;
  transition: background 0.1s linear, color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.slider__item {
  width: 23%;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
  border-top: 3px solid #fff;
  opacity: 0.7;
  position: relative;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: #f38181;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}

/* Section */
.section {
  padding: 80px 0;
}

.section--devices {
  margin-bottom: 40px;
  background: url("img/devices-bg.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 0px;
}

.section__header {
  margin: 0 auto 50px;
  width: 100%;
  max-width: 950px;
  text-align: center;
}

.section__suptitle {
  font-size: 1.17em;
  font-weight: bolder;
  font-size: 24px;
  color: #333;
  font-family: "Kaushan Script", cursive;
}

.section__title {
  font-size: 1.5em;
  font-weight: bolder;
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;
  background-color: #f38181;
}

.section__text {
  font-size: 15px;
  color: #999;
}

/* About */
.about {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  width: 380px;
  position: relative;
  background: #95e1d3;
}

.about__item:hover .about__img {
  -webkit-transform: translate3d(-10px, -10px, 0px);
          transform: translate3d(-10px, -10px, 0px);
  -webkit-transform: transform 0.2s linear;
          transform: transform 0.2s linear;
}

.about__item:hover .about__img img {
  opacity: 0.1;
}

.about__item:hover .about__text {
  opacity: 1;
}

.about__img {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.about__img img {
  display: block;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.about__text {
  width: 100%;
  color: #fff;
  opacity: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* Statistic */
.statistics {
  background: #98d5cb;
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services */
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding-left: 85px;
  padding-right: 35px;
  position: relative;
}

.services__icon {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1;
}

.services__title {
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 10px;
}

.services__text {
  font-size: 15px;
  color: #999;
}

/* Devices */
.devices {
  widows: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__item {
  display: block;
}

.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: -40px;
  z-index: 1;
}

/* We do */
.wedo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wedo__item {
  width: 50%;
}

/* Accordion */
.accordion__item {
  border: 1px solid #e5e5e5;
}

.accordion__header {
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 20px 15px 65px;
  position: relative;
}

.accordion__header ::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion__content {
  padding: 15px 20px;
  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}
